<h1>Find My Location</h1>
<button id="getLocationBtn">Get My Location</button>
<div id="locationResult">
    <p id="coordinates">Coordinates: Not available</p>
    <p id="address">Address: Not available</p>
</div>



<script src="~/js/location.js"></script>