@page "/"

<PageTitle>Home</PageTitle>

<h1>Form Control</h1>

<button class="btn btn-primary" type="button"><a href="regular">Regular</a></button>
<button class="btn btn-secondary" type="button"><a href="dotnet">DotNet</a></button>
