<h1>Latest News</h1>
<input type="text" id="keyword" placeholder="Enter a topic" />
<button id="fetchNewsBtn">Get News</button>

<div id="news-articles">
    <!-- News articles will appear here -->
</div>

<script src="~/js/news.js"></script>
