@{
    Layout = "_ScreenLayout";
}


<h1>Topic Title</h1>
<div class="card-container">
    <div class="card">
        <h3>Card Title 1</h3>
        <p>Information about the first topic. Use this space to summarize key points.</p>
    </div>
    <div class="card">
        <h3>Card Title 2</h3>
        <p>Information about the second topic. This can include text, images, or links.</p>
    </div>
    <div class="card">
        <h3>Card Title 3</h3>
        <p>Information about the third topic. A great way to organize content.</p>
    </div>
</div>