@{
    Layout = "_ScreenLayout";
}


<h1>Topic Title</h1>
<div class="container">
    <div class="myColumn">
        <h2>Column 1 Title</h2>
        <p>Details about the first topic. This section can contain paragraphs of information, lists, and more.</p>
        <ul>
            <li>Detail 1</li>
            <li>Detail 2</li>
            <li>Detail 3</li>
        </ul>
    </div>
    <div class="myColumn">
        <h2>Column 2 Title</h2>
        <p>Details about the second topic. This section can also include any type of content, including images.</p>
        <ul>
            <li>Detail A</li>
            <li>Detail B</li>
            <li>Detail C</li>
        </ul>
    </div>
</div>
